/* FlexBox 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container {
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-box {
  text-align: center;
  flex-grow: 5;
  padding: 10px;
  margin: 10px;
}
