/* FlexBox 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container {
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-box {
  display: flex;
  flex-basis: 4;
  flex-grow: 4;
  padding: 10px;
  margin: 10px;
  justify-content: space-evenly;
}
