/* GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Use for CSS Debugging  */


/* * {
    border: 1px solid red;
} */

/* Main Sections */

body {
  margin: 0;
  font-size: 22px;
  height: 100%;
  background: url("https://linuxbytes.github.io/Github-chart/images/john-towner-JgOeRuGD_Y4-unsplash.jpg")
    no-repeat center center;
}
header {
  background-color: #f1f1f1;
  max-width: 100%;
  padding-left: 1rem;
  /* overflow: auto; */
}
.git-title {
  font-family: "Alfa Slab One";
}

main {
  flex: 1 0 auto;
  max-width: 100%;
  padding: 20px;
}

#title-bytes,
#about-chart {
  color: white;
}

footer {
  background-color: #ffffff;
  max-width: 100%;
  margin-top: 10%;
  flex-shrink: 0;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 2000px;
}
.fa:hover{
  opacity: .7;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

/* Github */
.fa-github {
  background: #3e4156;
  color: white;
}
/* Linkedin */
.fa-linkedin {
  background: #546571;
  color: white;
}
